@charset "UTF-8";
@import '~bootstrap/dist/css/bootstrap-reboot.min.css';

body {
  background: url(../img/arc-one-logo.png);
}

@media screen and (max-width: 734px) {
  body {
    color: #000000;
  }
}

@media screen and (max-width: 1068px) {
  body {
    color: #00cc00;
  }
}

@media screen and (max-width: 1068px) {
  p {
    color: #00cc00;
  }
}
